@font-face {
  font-family: 'BMHANNAPro';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }
  @font-face {
      font-family: '87MMILSANG-Regular';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201@1.0/87MMILSANG-Regular.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
  }
  body {
    background: #fff;
    margin: 0;
    color: #353535;
    font-family: '87MMILSANG-Regular';
  }
  #container{
    width:50%;
    margin: 0 auto;
  }
/*필터*/
h1, h2, h3, h4, h5, h6 {
  font-family: '87MMILSANG-Regular';
  font-weight: 300;
}
/*타이틀*/
h3{
	color:#ff993b;	
}
/*강조*/
span{
	color:#ff993b;
}
/*주소, 업태*/
h5{
	color:#989898;
}
a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-transition: background-color .4s linear, color .4s linear;
  -moz-transition: background-color .4s linear, color .4s linear;
  -o-transition: background-color .4s linear, color .4s linear;
  -ms-transition: background-color .4s linear, color .4s linear;
  transition: background-color .4s linear, color .4s linear;
  color: #ff993b;
}

a:hover, a:focus {
  text-decoration: none;
  color: #696E74;
}

li{
  display:inline-block;
}
li:nth-child(odd){
  padding-right:15px;
}
/*지도*/
#map{
 position:fixed;
 right:0;
}
/*리스트*/
#list{
margin:0 auto;
padding-bottom:20px;
}
ul{
padding:0;
margin-bottom:0;
}
  /*폼*/
#form{
margin:0 auto;
border: solid 1px #aaa;
}
  
/*페이징*/
#center{
display:inline-block;
}
  
/* 레이어 팝업 박스 */
.layer-popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.layer-popup.show {
  display: block;
}

.modal-dialog {
  width: 560px;
  margin: 40px auto;
  background-color: #fff;
}

#textbox {
  padding:20px;
  line-height: 30px;
}
/* 체크박스 */

input[type="checkbox"]{
  display: none;
}

input[type="checkbox"]+label{
  display:inline-block;
  line-height: 40px;
  border:2px solid #989898;
  color:#989898;
  text-align: center;
  vertical-align: middle;
  font-weight:normal;
}

input[type="checkbox"]:checked+label{
  display:inline-block;
  line-height: 40px;
  border:2px solid #ff993b;
  color:#ff993b;
  text-align: center;
  vertical-align: middle;
  font-weight:normal;
}

input[name="area"]+label{
  width:100px;
  height:40px;
  border-radius:40px;
}

input[name="area"]:checked+label{
  width:100px;
  height:40px;
  border-radius:40px;
}

input[name="food"]+label{
  line-height: 68px;
  width:68px;
  height:68px;;
  border-radius:50%;
  margin-right:3px;
  font-size:16px;
}

input[name="food"]:checked+label{
  line-height: 68px;
  width:68px;
  height:68px;
  border-radius:50%;
  margin-right:3px;
  font-size:16px;
  
}

.filter-button{
  width:280px;
  height:50px;
  border:0;
  padding:0;
  color:white;
}

#cancle{
  background-color: #989898;
}

#sm{
  background-color: #ff993b;
}