.ul_zzim_list {
	text-align: center;
}

.ul_zzim_list img {
	width: 300px;
	height: 300px;
}

.ul_zzim_list ul {
	width: 800px;
	margin: 0 auto;
}

.ul_zzim_list li {
	display: inline-block;
	
}

.ul_zzim_list div {
	margin: 30px;
}