@font-face {
    font-family: '87MMILSANG-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201@1.0/87MMILSANG-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
	font-family: '87MMILSANG-Regular';
	box-sizing: border-box;
}
html, body {
    height: 100%;
}
img{
	border:0;
	}
html {
    display: block;
}
meta {
    display: none;
}
body, input, textarea, select, button, table {
    font-family: '돋움',Dotum,sans-serif;
    font-size: 12px;
    line-height: normal;
}
body, p, h1, h2, h3, h4, h5, h6, menu, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0;
}
header.masthead {
  position: relative;
  margin-bottom: 3rem;
  padding-top: calc(8rem + 57px);
  padding-bottom: 8rem;
  background: no-repeat center center;
  background-color: #6c757d;
  background-size: cover;
  background-attachment: scroll;
}
header.masthead:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #212529;
  opacity: 0.5;
}
header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  color: #fff;
}
header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}
header.masthead .page-heading h1, header.masthead .page-heading .h1,
header.masthead .site-heading h1,
header.masthead .site-heading .h1 {
  font-size: 3rem;
}
header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin-top: 0.625rem;
  font-family: 87MMILSANG-Regular, "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .post-heading h1, header.masthead .post-heading .h1 {
  font-size: 2.25rem;
}
header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}
header.masthead .post-heading .subheading {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.75rem 0 2rem;
  font-family: 87MMILSANG-Regular, "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .post-heading .meta {
  font-size: 1.25rem;
  font-weight: 300;
  font-style: italic;
  font-family: 87MMILSANG-Regular, "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .post-heading .meta a {
  color: #fff;
}
@media (min-width: 992px) {
  header.masthead {
    padding-top: 12.5rem;
    padding-bottom: 12.5rem;
  }
  header.masthead .page-heading h1, header.masthead .page-heading .h1,
header.masthead .site-heading h1,
header.masthead .site-heading .h1 {
    font-size: 5rem;
  }
  header.masthead .post-heading h1, header.masthead .post-heading .h1 {
    font-size: 3.5rem;
  }
  header.masthead .post-heading .subheading {
    font-size: 1.875rem;
  }
}
a {
	text-decoration-line:none;
}
a:hover {
	text-decoration-line:none;
	font-weight:bold;
	color:#ff995b;
}
a:hover,a:active,a:focus {
	text-decoration-line:none;
	}
#container {
    *zoom: 1;
    position: relative;
    max-width: 1220px;
    min-width: 1100px;
    min-height: 100%;
    margin: 0 auto;
    padding-top: 55px;
}
.section {
	zoom:1;
    overflow: hidden;
    margin-left: 100px;
}
div {
    display: block;
}
.section:after {
    display: block;
    clear: both;
    content: " ";
}
.contents {
    position: relative;
    width: 750px;
    min-height: 768px;
    margin: 0 auto;
    *z-index: 10;
}
.contents:after {
    display: block;
    clear: both;
    content: " ";
}
script {
    display: none;
}
.frst_contents, .scnd_contents {
    min-height: 760px;
    padding-bottom: 20px;
}
.time_line {
    padding: 25px 25px 25px 20px;
}
.time_line .daily_obj:first-child {
    padding-top: 0;
}
.time_line .daily_obj {
    padding-top: 20px;
}
.time_line .daily_obj h4 {
    height: 33px;
    background: url(https://cdn.iconscout.com/icon/free/png-64/communication-between-women-1975497-1664392.png) no-repeat 15px 0;
    padding-left: 40px;
    font-size: 14px;
    color: #333;
    font-family: dotum;
    line-height: 33px;
}
h4 {
	height:55px;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
menu, ul, ol {
    list-style: none;
}
ul {
    list-style-type: disc;
}
.tx_box_obj {
	/* position:relative; */
    padding-left: 39px;
    margin-top: 9px;
}
.tx_tooltip {
	margin-top: 9px;
    position: relative;
    min-height: 72px;
    border: 1px solid #e0e0e0;
    background: #fff;
    border-top-color: #ececec;
    border-radius: 8px;
}
.tx_tooltip_add {
    position: relative;
    border: 1px solid #e0e0e0;
    background: #fff;
    border-top-color: #ececec;
    border-radius: 8px;
}

.tx_tooltip .tx_bubble {
    float: none;
    padding: 20px 20px;
    *zoom: 1;
}
.tx_tooltip .thumb {
    float: left;
    width: 40px;
    height:40px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.tx_tooltip .tx_width {
	padding: 0 20px;
}
.tx_tooltip .linkTx {
	padding: 10px auto;
}
.tx_tooltip .alarm_time {
	text-align:right;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.tx_tooltip tx_bubble {
	margin: 0;
}
.tx_tooltip .bubble_content {
    float: left;
}
.tx_tooltip .tx_bubble:after {
    display: block;
    clear: both;
    content: " ";
}
.tx_tooltip .bubble_content .tx_width {
	padding-top:10px;
}
span .linkTx {
	display:inline-block;
	margin-top:0;
}
.tx_tooltip .bubble_content .from_obj {
	clear:both;
   text-align:right;
}
.tx_tooltip .env_bubble {
    display: none;
}
.tx_tooltip .del_bubble {
    position: absolute;
    right: 12px;
    top: 13px;
    width: 20px;
    height: 20px;
    background: url(https://ssl.pstatic.net/static/me/new/sp_me_new20160113.png) no-repeat -197px -38px;
    border: 0;
}
#add_form {
	width: 620px;
	height: 300px;
	position: relative;
	right:-80px;
	top: -10px;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
}
button {
	cursor:pointer;
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
.bottom_btn {
	cursor: pointer;
	border-style:none;
	border-radius:5px;
	padding: 6px;
	float:right;
	margin-left: 12px;
}
.write_btn {
	/* position:absolute; */
	/* right: 200px; */
	text-align:right;
	background-color: white;
	border: none;
	padding: 8px 10px;
	color: #ff953b;
	font-weight: bold;
	border-radius: 80px;
	float:right;
}
#write_btn {
	/* position:absolute; */
	/* right: 200px; */
	text-align:right;
	background-color: white;
	border: none;
	padding: 8px 10px;
	color: #ff953b;
	font-weight: bold;
	border-radius: 80px;
	float:right;
}

#add_write_btn {
	height:50px;
	text-align:right;
	background-color: white;
	border: none;
	padding: 8px 10px;
	color: #ff953b;
	font-weight: bold;
	border-radius: 80px;
	float:right;
}

#post_list {
	position: relative;
}
#title {
	border-style:none;
	padding : 8px 20px;
}

#title_group{
	padding-left:5px;
	padding-bottom:10px;
}

.title_family {
	display:inline-block;
	margin:10px;
	margin-top:25px;
	margin-bottom:13px;
}

#title_family_num {
	margin-left:200px;
}
#title_family_title {
	margin-left:28px;
}
#title_family_nickname {
	margin-left:150px;
}
#title_family_date {
	margin-left:40px;
}
#title_family_hits {
	margin-left:50px;
}
#write_btn:hover {
  background-color: #ff995b;
  color: white;
}
/* FOOTER */

#f {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f2f2f;
  color: white;
}

#f h5 {
  margin-top: 30px;
  letter-spacing: 1px;
}

#f i {
  font-size: 45px;
  margin: 15px;
}

#f a {
  color: #b9b9b9;
}

#f a:hover {
  color: #03C9A9;
}

/* Contact Form */

.contact-form {
  padding-top: 20px;
}

.contact-form input, .contact-form textarea {
  padding: 10px 12px;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  height: auto;
}

.contact-form .form-send {
  text-align: center;
}

.contact-form .form-send button {
  background: #03C9A9;
  border: 0;
  padding: 12px 40px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.contact-form .form-send button:hover {
  background: #13dfbe;
}

.contact-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact-form .loading {
  display: none;
  color: #555;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin: 15px 0;
}

.contact-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

@-webkit-keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.contact-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}

.contact-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}

/* Copyrights */

#copyrights {
  background: #222222;
  padding: 20px 0;
  text-align: center;
}

#copyrights p {
  margin-bottom: 5px;
  color: #fff;
}

#copyrights a {
  color: #ff993b;
}

.credits {
  color: #999;
}