@font-face {
	font-family: "87MMILSANG-Regular";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201@1.0/87MMILSANG-Regular.woff2")
	  format("woff2");
	font-weight: normal;
	font-style: normal;
}

#container_mypage_info_update {
	margin: 0 auto;
	margin-top: 50px;
	width:50%;
	display: flex;
	font-family: "87MMILSANG-Regular";
}

.profile_img {
	width: 220px;
	height: 220px;
	border-radius: 110px;
}

.table_title_mypage {
	margin-top: 50px;
}