
  #tab {
 	width: 1300px;
  	text-align : center;
    border-top: 1px solid #444444;
    border-collapse: collapse;
    table-layout : fixed;
    margin : 0 auto;
    margin-top : 50px;
  }
  th, td {
    border-bottom: 1px solid #444444;
    padding: 5px;
    height : auto;
    word-break : break-all;
    font-size:17px;
  }
  #div {
  font-size:17px;
  }
  
  thead {
  background-color : orange;
  color : white;
  }
  
  h2 {
  margin-top : 50px;
  text-align : center; 
   }
  
.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: #ff993b;
  float: left;
  text-decoration: none;
  transition: color .3s;
  background-color: white;
  border-radius: 30%;
  width:35px;
  height:35px;
  line-height:35px;
  margin-left:10px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}
.pagination a:hover {
	color:white;
 	background-color: #fdc880;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
  color: white;
}

.prevnext a{
  border: 0;
  font-size:30px;
}

textarea:focus {
	outline: none;
}


#div {
font-size : 16px;
}


.outer {
  text-align: center;
}


#menu{
	color : red;
}
  
.button {
border:none;
border-radius: 4px;
background-Color:#dc3545;
font-size:14px;
font-weight:bold;
color:white;
width:80px;height:30px;
box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.agree {
border:none;
border-radius: 4px;
background-Color:rgb(21, 234, 69);
font-size:14px;
font-weight:bold;
color:white;
width:80px;height:30px;
box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	
}

.agree:active,
.agree:hover,
.agree:focus {
  background: rgb(43, 213, 51);
  outline: 0;
}

.button:active,
.button:hover,
.button:focus {
  background: #c82333;
  outline: 0;
}
